# Generated build and simulation outputs
**/build/
**/src/build_info.spade
**/.venv-host/
/.venv/
**/.surfer/
**/test/__pycache__/
**/test/dump.vcd
**/test/dump.surfer.vcd
**/test/results.xml
**/test/waveforms/*.vcd
**/test/waveforms/*.xml

# Remote build artifacts
**/forge-output-*/
